@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Righteous', cursive;
    font-family: 'Varela Round', sans-serif;
}

#Contenedor{
    display: flex;
    width: 100vw;
    height: 100vh;
}

#Contenedor-chats{
    width: 20vw;
    height: 100vh;
}

.chats{
    display: flex;
    padding: 0.9em 2em;
    border-bottom: 1px solid #BEC1BB;
}

#Boton{
    display: flex;
    justify-content: center;
    padding: 4em 3em;
    border-bottom: 1px solid #BEC1BB;
}

#Boton button{
    background-color: #A491D2;
    border: none;
    color: #fff;
    padding: 1em 4em;
    font-size: 1.3rem;
}

#Boton button:hover{
    cursor: pointer;
}

.foto-perfil{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nombre-estado{
    display: flex;
    flex-direction: column;
    padding-top: 0.2em;
}

.nombre{
    margin-left: 0.8em;
    font-size: 1.25rem;
}

#Estado{
    display: block;
    font-size: 0.90rem;
    margin-left: 1.1em;
    color: #828485;
}

.estado{
    display: block;
    font-size: 1rem;
    margin-left: 1em;
    margin-top: 0.2em;
}

#contenedor-iconos{
    display: flex;
    margin-top: 0.8em;
    margin-left: 6em;
    color: #828485;
}

.icono-mensaje{
    font-size: 1.5em;
}

.icono-barras{
    margin-left: 1em;
    font-size: 1.5em;
}

#Contenedor-mensajeria{
    width: 80vw;
    height: 100vh;
    border-left: 1px solid #E8EBE4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Logo-informacion{
    width: 40%;
    text-align: center;
}

#Logo-informacion img{
    width: 300px;
    height: 300px;
    border-radius: 15px;
}

#Logo-informacion p{
    color: #444749;
    font-size: 3.2rem;
    margin-top: 0.5em;
    font-weight: bold;
}

#Logo-informacion span{
    color: #828485;
    font-size: 1.2rem;
}

#Logo-informacion #span-chat{
    font-weight: bolder;
    color: #000;
}
