*{
    margin: 0;
    padding: 0;
}

@media (max-width: 576px){
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

    body{
        font-family: 'Roboto', sans-serif;
    }

    .bg-navbar{
        background-color: rgb(34, 95, 185);
    }
    
    .imagen-logo{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 0.5em;
    }
    
    .navbar-nav a{
        color: #fff;
    }

    .contenedor-buscador{
        background-color: rgb(209, 205, 205);
        text-align: center;
        padding: 0.5em 0 0.5em 0;
    }

    .contenedor-buscador p{
        font-weight: 600;
    }

    .buscador{
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        width: 60%;
        text-align: left;
        margin: 0 auto;
        border-radius: 3px;
        padding: 0.4em;
    }

    .buscador span{
        color: rgb(53, 53, 53);
    }

    .buscador i{
        margin-top: 0.3em;
    }

    .contenedor-producto{
        margin: 2em auto;
        filter: grayscale(100%);
        transition: filter 1s;
    }

    .contenedor-producto:hover{
        filter: grayscale(0%);
    }


    .imagen-producto{
        height: 200px;
    }

    .card-body h3{
        text-align: center;
    }

    .contenedor-boton{
        display: flex;
        justify-content: center;

    }

    .boton{
        color: #fff;
        background-color: #21618C;
    }
    
    .boton:hover{
        background-color: lightblue;
    }

    .navegador-numeros{
        display: flex;
        justify-content: center;
    }

    .icono-mobile{
        margin-right: 0.3em;
    }
    

    .contenedores-productos-secundarios{
        display: none;
    }

    footer{
        display: flex;
        flex-direction: column;
        background-color: #07395a;
        padding: 1em 2em;
        text-align: center;
    }

    footer i{
        color: #fff;
        font-size: 1.5rem;
        margin-left: 0.3em;
    }

    footer p{
        color: #fff;
        font-size: 1.2rem;
        font-weight: 500;
    }

}

/*-----------------Aquí inicia vista escritorio----------------------- */

@media (min-width: 576px){
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

    body{
        display: grid;
        grid-template-areas: 
        "aside search search search search"
        "aside productos productos productos productos"
        "aside productos productos productos productos"
        "footer navegador navegador navegador navegador";
        grid-template-columns: 1fr 8fr;
        grid-template-rows: 1fr 8fr;
        height: 100vh;
        width: 100vw;
        font-family: 'Roboto', sans-serif;
    }
    
    header{
        grid-area: aside;
        background-color: rgb(34, 95, 185);
    }

    .contenedor-flex{
        display: flex;
        flex-direction: column;
    }

    .texto-logo{
        margin-left: 0.5em;
    }

    .contenedor-flex img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 0 0.2em 0 0.5em;
        animation: translacionY 2s infinite;
    }

    @keyframes translacionY {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(190px);
        }
        100%{
            transform: translateY(0);
        }
    }

    .categorias{
        margin-top: 1.5em;
    }

    .categorias .navbar-nav{
        display: flex;
        flex-direction: column;
    }

    .navbar-nav a{
        color: #fff;
    }
    
    .contenedor-buscador{
        grid-area: search;
    }
    
    #Contenedor-producto{
        grid-area: productos;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .contenedor-producto{
        margin: 1.5em;
        filter: grayscale(100%);
        transition: filter 1s;
    }

    .contenedor-producto:hover{
        filter: grayscale(0%);
    }


    .descripcion{
        display: none;
    }
    
    .navegador-numeros{
        grid-area: navegador;
        padding-top: 0.5em;
        display: flex;
        justify-content: center;
    }

    .contenedor-buscador{
        background-color: rgb(209, 205, 205);
        text-align: center;
        padding: 0.5em 0 0.5em 0;
    }

    
    .contenedor-buscador p{
        font-weight: 600;
    }

    .buscador{
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        width: 95%;
        text-align: left;
        margin: 0 auto;
        border-radius: 3px;
        padding: 0.4em;
    }
    
    .buscador i{
        margin-top: 0.3em;
    }

    .boton{
        color: #fff;
        background-color: #21618C;
        display: flex;
        justify-content: center;
        font-weight: 600;
        transition: background-color 1s;
    }

    .boton:hover{
        background-color: rgb(127, 205, 231);
        font-weight: 600;
    }
    

    footer{
        grid-area: footer;
        background-color: #0C358E;
        text-align: center;
    }

    footer i{
        color: #fff;
        font-size: 1.5rem;
        margin-left: 0.3em;
        margin-top: 0.5em;
    }

    footer p{
        color: #fff;
        font-size: 1.2rem;
        font-weight: 500;
    }

}

