@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body{
    font-family: 'Righteous', cursive;
    background-image: url(https://images.unsplash.com/photo-1524169358666-79f22534bc6e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHBvcnRmb2xpbyUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80);
}

.navegacion{
    background-color: rgba(0, 0, 0, 0.4);
}

.barra-baja{
    width: 5vw;
    height: 0.4vh;
}

.Logo-universidad-de-chile{
    width: 20vw;
    height: 20vh;
}

.Logo-desafio-latam{
    width: 15vw;
    height: 15vh;
}

.imagen-card{
    height: 359.81px;
}