@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}


.titulo-principal{
    text-transform: uppercase;
}

.imagen-logo-header{
    width: 180px;
    height: 50px;
}

.imagen-carta{
    width: 100%;
    height: 420px;
}

.margin-top{
    margin-top: 0.8em;
}

.imagen-logo-footer{
    width: 100px;
    height: 30px;
}